<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectomovil">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Views.Calificacion"
            android:theme="@style/Theme.Design.Light.NoActionBar"></activity>
        <activity
            android:name=".Views.Actividades.ViewActividad"
            android:label="@string/title_activity_view_actividad"
            android:parentActivityName=".Views.Actividades.ListaActividades"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Views.Actividades.ListaActividades"
            android:label="@string/title_activity_lista_actividades"
            android:parentActivityName=".Views.Menus.MenuInvitados"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Views.Inicio.Favoritos"
            android:label="@string/title_activity_favoritos"
            android:parentActivityName=".Views.Menus.MenuInvitados"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Views.Inicio.ImagenInicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Sitios.ListaSitios"
            android:label="@string/title_activity_lista_sitios"
            android:parentActivityName=".Views.Menus.MenuInvitados"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Views.Mapa.Mapa"
            android:label="@string/title_activity_mapa" />
        <activity
            android:name=".Views.Eventos.ViewEvento"
            android:parentActivityName=".Views.Eventos.ListaEventos"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".Views.Eventos.ListaEventos"
            android:label="@string/title_activity_lista_eventos"
            android:parentActivityName=".Views.Menus.MenuInvitados"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".Views.Sitios.FormularioSitio"
            android:label="@string/title_activity_formulario_sitio"
            android:parentActivityName=".Views.Sitios.GestionSitios"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Views.Sitios.GestionSitios"
            android:label="@string/title_activity_gestion_sitios"
            android:parentActivityName=".Views.Menus.MenuAdministrador"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Views.Eventos.FormularioEvento"
            android:label="@string/title_activity_formulario_evento"
            android:parentActivityName=".Views.Eventos.GestionEventos"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".Views.Eventos.GestionEventos"
            android:label="@string/title_activity_gestion_eventos"
            android:parentActivityName=".Views.Menus.MenuAdministrador"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Views.Menus.MenuAdministrador"
            android:label="@string/title_activity_menu_administrador"
            android:parentActivityName=".Views.Menus.MenuAdministrador"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".Views.Menus.MenuInvitados" />
        <activity android:name=".Views.Inicio.MainActivity" />
    </application>

</manifest>